<h3>{{ message }}</h3>
<app-character-list></app-character-list>

<h3>tabs demo</h3>
<button 
(click)="testClick('middle')"
>update</button>
<app-tabs>
  <app-tab tabTitle="high">
    <app-todo [todo]="todo"></app-todo>   
  </app-tab>
  <app-tab 
    tabTitle="middle"
    (click)="getTodos('middle')"
  >
  <app-todo [todo]="todo"></app-todo>
  </app-tab>
  <app-tab tabTitle="low">Tab 2 Content</app-tab>
  <app-tab
   tabTitle="Tab 3"
   [template]="characterEdit"
   [dataContext]="messageTab3">
   Tab 3 Content</app-tab>
</app-tabs>

<!-- "data"はngTemplateOutletContext で宣言したもの" -->
<ng-template #characterEdit let-message="data">
        Hi, I'm {{ message }}.
</ng-template>